BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "led0" SITE "97" ;
LOCATE COMP "led1" SITE "98" ;
LOCATE COMP "led2" SITE "99" ;
LOCATE COMP "led3" SITE "100" ;
LOCATE COMP "led4" SITE "104" ;
LOCATE COMP "led5" SITE "105" ;
LOCATE COMP "led6" SITE "106" ;
LOCATE COMP "led7" SITE "107" ;
LOCATE COMP "scl" SITE "113" ;
LOCATE COMP "sda" SITE "114" ;
IOBUF PORT "scl" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "sda" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "led7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "reset_sensor" SITE "111" ;
LOCATE COMP "reset_fpga" SITE "112" ;
IOBUF PORT "reset_fpga" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "reset_sensor" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "osc_clk" SITE "109" ;
IOBUF PORT "osc_clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "reset_n" SITE "110" ;
